<label>server Name</label>
<!-- <input type="text" class="form-control my-2" (input)="onUpdate($event)" /> -->
<input type="text" class="form-control my-2" [(ngModel)]="serverName" />
<!-- {{ serverName }}<br> -->
<button class="btn btn-primary my-2" [disabled]="!allowNewServer" (click)="onCreateServer()">Add Server</button>
<!-- <p>{{ serverStatus }}</p>
<p [innerText]="allowNewServer"></p> -->
<p *ngIf="serverCreated; else noserver">Server created with name: {{ serverName }}</p>
<ng-template #noserver>
  <p>No server yet</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
