<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 col-md-offset-2">
      <div class="nav align-items-center">
        <a class="nav-link" routerLink="/">Home</a> |
        <a class="nav-link" [routerLink]="['user', 1]">User 1</a> |
        <a class="nav-link" [routerLink]="['user', 2]">User 2</a>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-10 col-sm-offset-1 com-md-offset-2">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>